body{
    background: url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    opacity: .9;
    overflow: hidden;
}
